.feinman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: black;
  position: absolute;
  right: 48px;
  top: 50%;
  transition: opacity 0.5s ease;
}

.feinman__link:hover {
  opacity: 60%;
}
